<li id="event-<%= event.id %>">

  <span class="event_title"><strong><%= link_to event.title, event %></strong></span> <br>
  <span class="event_location"><%= event.location %></span><br>
  <span class="event_time"><%= event.start_time %></span> <br>
  <span class="event_description"><em><%= event.description %></em></span> <br>

</li>