<li id="event-<%= invitation.event.id %>">

  <span class="event_title"><strong><%= link_to invitation.event.title, invitation.event %></strong></span> <br>
  <span class="event_location"><%= invitation.event.location %></span><br>
  <span class="event_time"><%= invitation.event.start_time %></span> <br>
  <span class="event_description"><em><%= invitation.event.description %></em></span> <br>

</li>